.slide:nth-of-type(1){
    background-color: white;
    background-image: url('../image/paris.jpg');
}

.slide:nth-of-type(2){
    background-color: orange;
    background-image: url('../image/paris2.jpg');
}

.slide:nth-of-type(3){
    background-color: green;
    background-image: url('../image/paris3.jpg');
}

.slide:nth-of-type(4){
    background-color: green;
    background-image: url('../image/paris4.jpg');
}

.rightimg  {
    float: right;
    margin: 7px 0 20px 20px;
    opacity: 0.8;
    border-radius: 20px;
}

